<div class="container center">
  <br><br>
  <div id="print-contents">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div style="width: auto; margin:0px; border:1px  solid #ccc; font-family:arial;padding:0px;padding:15px;">
      <h3 align='center'>Invoice</h3>
      <p align='center'>Date:8/5/2020</p>
      <table class='center' width="300px" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
        <tbody>
          <div style='float: left;'>
            <tr>
              <td colspan='3' style='font-size: 14px;font-weight: normal;'>From:</td>
            </tr>
            <br><br><br>
            <tr>
              <td colspan='3' style='font-size: 14px;font-weight: normal;'>To:</td>
            </tr>
          </div>
          <div style='float: right;'>
            <tr>
              <td colspan="3" align='right' style="font-size:18px;font-weight:bold;">
                Bill</td>
            </tr>
            <tr>
              <td colspan="3" align='right' style="font-size:14px;">
                Service Pro ID</td>
            </tr>
            <tr>
              <td colspan="3" align='right' style="font-size:14px;">
                Category</td>
            </tr>
            <tr>
              <td colspan="3" style="font-size:14px;" align='right'>
                Sub Category</td>
            </tr>
            <tr>
              <td align='right' style="font-size:14px;">Bid Amount</td>
            </tr>
            <tr>
              <td align='right' style="font-size:14px;">Payment Amount</td>
            </tr>
            <tr>
              <td align="right" style="font-size:14px;">
                Service Charge</td>
            </tr>
          </div>
        </tbody>
      </table>
      <div class="table-responsive-sm" style="padding-top:20px;padding-bottom:20px;">
        <table style="width:100%" class="table table-striped">
          <thead>
            <tr>
              <th style="width:60px;text-align:left;padding-bottom:5px;">Name</th>
              <th style="width:50px;text-align:left;padding-bottom:5px;">Name</th>
              <th style="width:50px;text-align:left;padding-bottom:5px;">Name</th>
              <th style="width:50px;text-align:left;padding-bottom:5px;">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
            </tr>
            <tr>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
            </tr>
            <tr>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
            </tr>
            <tr>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
              <td style="width:40%;font-size:11px;padding-bottom:5px;">Name</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="text-center">
  <button type="button" class="btn btn-primary" (click)='print()'>Print Invoice</button>
</div>