<div class="container-fluid payment_Sec">
  <div class="container ">
    <div class="table_list">
      <div class="table_sec">
        <table style="width:100%;">
          <tr>
            <th>Project Title</th>
            <th>Posted Date</th>
            <th>Completed Date</th>
            <th>Service Professional</th>
            <th>Category Name </th>
            <th>Sub-Category</th>
            <th>status</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor='let project of completedprojects'>
            <td>{{project.title}}</td>
            <td>{{project.postDate  | date: 'yyyy-dd-MM'}}</td>
            <td>{{project.desiredRangeEnd | date: 'yyyy-dd-MM'}}</td>
            <td>Bill's General Store</td>
            <td>{{project.category}}</td>
            <td>{{project.subCategory}}</td>
            <td>{{project.status}}</td>
            <!-- <td><span class="green">Completed</span></td> -->
            <td><span class="table_actions"><a href="#" data-toggle="modal" data-target="#myModal" (click)='onListPopUp(project)'></a>
                <a href="#" data-toggle="modal" data-target="#statement_mod" class="per"></a>
                <i class='fas fa-file-signature sign' (click)="onsignaturePopup()"></i>

              </span>
            </td>
          </tr>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <!-- <li class="page-item"><a class="page-link pre" href="#"></a></li> -->
          <li class="page-item"><a class="page-link " href="javascript:void(0)">1</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
          <li class="page-item"><a class="page-link next" href="javascript:void(0)"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/moment.js"></script>
<script src="../js/bootstrap-datetimepicker.min.js"></script>
<script>
  $('.modal').on('shown.bs.modal', function () {
    $('#datetimepicker1, #datetimepicker3').datetimepicker({ format: 'DD/MM/YY', });
    $('#datetimepicker2').datetimepicker({ format: 'HH:mm:ss', });
  });
</script>
<script>
  $(document).ready(function () {
    $("#list").click(function () { $(".table_list").hide(); $(".grid_view").show(); });
    $("#grid").click(function () { $(".grid_view").hide(); $(".table_list").show(); });

  });
</script>
<script>
  $(document).ready(function () {
    $('.main_box_body .slide_icon').click(function () {
      $(this).next(".slide_list").toggle("slide");
    });
  });
</script>