<div class="container-fluid">
  <div class="container">
    <div class="grid_view" style="display: block;">
      <div class="row top_search">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <p>50 projects</p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <form class="form_top">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"></button>
          </form>
        </div>
      </div>
      <div class="row main_boxes">
        <div class="main_box">
          <div class="main_box_head">
            <h2>Desktop Installation</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list">
              <li>
                <ol>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img2.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img3.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><a href="#">10+</a></li>
                </ol>
              </li>
              <li>
                <p>Business Registration</p><span class="span_text mt_5">Licensed Insured</span>
              </li>
              <li>
                <p>Overall Rating</p><span><input id="input-13" name="input-13" value="4" class="rating-loading"
                    data-size="xs"></span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" class="msg1" data-toggle="modal" data-target="#myModal_msg"></a><a href="#"
                  data-toggle="modal" data-target="#review_list_model" class="star"></a><a href="#" class="star_1"
                  data-toggle="modal" data-target="#myModal_e"></a></span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Air Conditioning unit relocation</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list">
              <li>
                <ol>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img2.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg">
                  </li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img3.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><a href="#">10+</a></li>
                </ol>
              </li>
              <li>
                <p>Business Registration</p><span class="span_text mt_5">Licensed Insured</span>
              </li>
              <li>
                <p>Overall Rating</p><span><input id="input-14" name="input-14" value="4" class="rating-loading"
                    data-size="xs"></span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" class="msg1" data-toggle="modal" data-target="#myModal_msg"></a><a href="#"
                  data-toggle="modal" data-target="#review_list_model" class="star"></a><a href="#" class="star_1"
                  data-toggle="modal" data-target="#myModal_e"></a></span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>iPhone screen change and installing body</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list">
              <li>
                <ol>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img2.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg">
                  </li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img3.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><a href="#">10+</a></li>
                </ol>
              </li>
              <li>
                <p>Business Registration</p><span class="span_text mt_5">Licensed Insured</span>
              </li>
              <li>
                <p>Overall Rating</p><span><input id="input-15" name="input-15" value="4" class="rating-loading"
                    data-size="xs"></span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" class="msg1" data-toggle="modal" data-target="#myModal_msg"></a><a href="#"
                  data-toggle="modal" data-target="#review_list_model" class="star"></a><a href="#" class="star_1"
                  data-toggle="modal" data-target="#myModal_e"></a></span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Laptop Screen task and repair task</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list">
              <li>
                <ol>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img2.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg">
                  </li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img3.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><a href="#">10+</a></li>
                </ol>
              </li>
              <li>
                <p>Business Registration</p><span class="span_text mt_5">Licensed Insured</span>
              </li>
              <li>
                <p>Overall Rating</p><span><input id="input-16" name="input-16" value="4" class="rating-loading"
                    data-size="xs"></span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" class="msg1" data-toggle="modal" data-target="#myModal_msg"></a><a href="#"
                  data-toggle="modal" data-target="#review_list_model" class="star"></a><a href="#" class="star_1"
                  data-toggle="modal" data-target="#myModal_e"></a></span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Desktop Installation</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list">
              <li>
                <ol>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img2.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg">
                  </li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img3.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><a href="#">10+</a></li>
                </ol>
              </li>
              <li>
                <p>Business Registration</p><span class="span_text mt_5">Licensed Insured</span>
              </li>
              <li>
                <p>Overall Rating</p><span><input id="input-17" name="input-17" value="4" class="rating-loading"
                    data-size="xs"></span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" class="msg1" data-toggle="modal" data-target="#myModal_msg"></a><a href="#"
                  data-toggle="modal" data-target="#review_list_model" class="star"></a><a href="#" class="star_1"
                  data-toggle="modal" data-target="#myModal_e"></a></span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Air Conditioning unit relocation</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list">
              <li>
                <ol>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img2.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg">
                  </li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img3.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><a href="#">10+</a></li>
                </ol>
              </li>
              <li>
                <p>Business Registration</p><span class="span_text mt_5">Licensed Insured</span>
              </li>
              <li>
                <p>Overall Rating</p><span><input id="input-18" name="input-18" value="4" class="rating-loading"
                    data-size="xs"></span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" class="msg1" data-toggle="modal" data-target="#myModal_msg"></a><a href="#"
                  data-toggle="modal" data-target="#review_list_model" class="star"></a><a href="#" class="star_1"
                  data-toggle="modal" data-target="#myModal_e"></a></span>
            </span>
            <div class="progressbar_1" data-animate="false">
              <div class="circle" data-percent="53">
              </div>
            </div>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>iPhone screen change and installing body</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list">
              <li>
                <ol>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img2.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg">
                  </li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img3.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><a href="#">10+</a></li>
                </ol>
              </li>
              <li>
                <p>Business Registration</p><span class="span_text mt_5">Licensed Insured</span>
              </li>
              <li>
                <p>Overall Rating</p><span><input id="input-19" name="input-19" value="4" class="rating-loading"
                    data-size="xs"></span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" class="msg1" data-toggle="modal" data-target="#myModal_msg"></a><a href="#"
                  data-toggle="modal" data-target="#review_list_model" class="star"></a><a href="#" class="star_1"
                  data-toggle="modal" data-target="#myModal_e"></a></span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Laptop Screen task and repair task</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list">
              <li>
                <ol>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img2.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg">
                  </li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img3.jpg"></li>
                  <li><img class="rounded-circle" alt="pic" src="../../../../../assets/images/bid_img1.jpg"></li>
                  <li><a href="#">10+</a></li>
                </ol>
              </li>
              <li>
                <p>Business Registration</p><span class="span_text mt_5">Licensed Insured</span>
              </li>
              <li>
                <p>Overall Rating</p><input id="input-20" name="input-20" value="4" class="rating-loading"
                  data-size="xs">
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" class="msg1" data-toggle="modal" data-target="#myModal_msg"></a><a href="#"
                  data-toggle="modal" data-target="#review_list_model" class="star"></a><a href="#" class="star_1"
                  data-toggle="modal" data-target="#myModal_e"></a></span>
            </span>
          </div>
        </div>
        <p class="btn_bottom"><a href="javascript:void(0)">Load More</a></p>
      </div>
    </div>
  </div>
</div>