<div class="message-modal-bx">
  <mat-dialog-content style="width:500px;height: auto;">
    <p style="text-align: left;">
      You have not saved your changes. Do you still want to exit?
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button class="btn btn-primary" mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">OK</button>
    <button class="btn btn-primary" mat-raised-button mat-dialog-close tabindex="-1" style='margin-left: 10px;'>Cancel</button>
  </mat-dialog-actions>
</div>