<div class="modal fade model_main model_detail show" id="review_list_model"
  style="padding-right: 17px; display: block;">
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Customer Reviews</h4>
        <button type="button" class="close" (click)='close()'></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" style="padding: 0 !important ;">
        <div class="payment_Sec_box">
          <div class="table_list">
            <div class="table_sec table_sec_smp">
              <table style="width:100%;">
                <tbody>
                  <tr>
                    <th>Review</th>
                    <th style="width: 20%;">Consumer ID</th>
                    <th>Rating </th>
                  </tr>
                  <tr>
                    <td>I was very pleased with the quality of work when installing the Windows. They seemed to work
                      very quickly and had my whole home done within a few days. Vince was the salesman that came out to
                      show me their product and options and I was very pleased with the info he provided without all the
                      pressure and he was very quick to email me a full estimate with every window labeled with each
                      location it would be installed. I was over all very happy with APCO and would use them for future
                      projects. </td>
                    <td>C 264166</td>
                    <td>Technology Services</td>
                  </tr>
                  <tr>
                    <td>We have trusted APCO with doors, siding ,and windows in both homes we have owned. Quality
                      materials installed by craftsmen . Vince, our salesman was an excellent help in picking out
                      materials at our home. We are very pleased.</td>
                    <td>C 264166</td>
                    <td>Technology Services</td>
                  </tr>
                  <tr>
                    <td>Hired APCO to install two new storm doors on a historical brick home in Clintonville based on
                      seeing positive reviews here and on other forums. From start to finish, APCO provided an excellent
                      experience. Sales staff was timely, attentive and patient with our many questions and requests.
                      The installation technician took his time to provide a quality installation in less than ideal
                      weather conditions. The product itself is also lovely and has done a fantastic job of providing
                      both security and draft protection. All in all, would highly recommend APCO for their expertise,
                      responsiveness and quality control! </td>
                    <td>C 264166</td>
                    <td>Technology Services</td>
                  </tr>
                  <tr>
                    <td>Excellent service and products. Installation technicians are well trained and courteous. Very
                      responsive to any problems. </td>
                    <td>C 264166</td>
                    <td>Technology Services</td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>