<div class="container-fluid payment_Sec">
  <div class="container ">

    <div class="table_list">
      <div class="table_sec">
        <table style="width:100%;">
          <tr>
            <th>Post Title</th>
            <th>Posted Date</th>
            <th>Completed Date</th>
            <th>Service Professional ID</th>
            <th>Bid Price</th>
            <th>Actions</th>
          </tr>
          <tr>
            <td>Laminate Flooring Installation</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 264166</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>Patio extension</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 846949</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>Air Conditioning unit relocation</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 961556</td>
            <td>$1000.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>iPhone screen change and <br>installing body</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 284623</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>Laminate Flooring Installation</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 849766</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>iPhone screen change and <br>installing body</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 264166</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>Patio extension</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 846949</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>Laminate Flooring Installation</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 961556</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>Air Conditioning unit relocation</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 264166</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>iPhone screen change and <br>installing body</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 846949</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>Air Conditioning unit relocation</td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 961556</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
          <tr>
            <td>Laptop installation task and <br>
              repair task
            </td>
            <td>08-18-2016</td>
            <td>08-24-2016</td>
            <td>C 264166</td>
            <td>$500.00</td>
            <td><span class="table_actions"><a href="#"></a>
                <i class='fas fa-file-signature' id='sig' style='position: absolute;' (click)="onsignaturePopup()"></i>
              </span></td>
          </tr>
        </table>

      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <!-- <li class="page-item"><a class="page-link pre" href="#"></a></li> -->
          <li class="page-item"><a class="page-link " href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link next" href="#"></a></li>
        </ul>
      </nav>
    </div>
    <div class="grid_view" style="display: none;">
      <div class="row top_search">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <p>50 projects</p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <form class="form_top">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"></button>
          </form>
        </div>
      </div>
      <div class="row main_boxes">
        <div class="main_box">
          <div class="main_box_head">
            <h2>Laminate Flooring Installation</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <div class="main_box_bodyL">
              <p>Service Type
                <span>Repair/Service</span></p>
              <p><span>06-18-2015</span></p>
            </div>
            <div class="main_box_bodyR">
              <p>C 284656</p>
              <strong>Amount $300</strong>
            </div>
            <div class="main_box_bodyFull">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed minim veniam, quis consectetur adipiscing
                elit, sed minim eniam, quis..</p>
            </div>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;"><a href="#"></a><i class='fas fa-file-signature' id='sig'
                  style='    position: absolute;'></i>
              </span>
            </span>
          </div>
          <div class="main_box_foot">
            <a href="#" class="btn active">View</a>
            <a href="#" class="btn list">Resend</a>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Patio extension</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <div class="main_box_bodyL">
              <p>Service Type
                <span>Repair/Service</span></p>
              <p><span>06-18-2015</span></p>
            </div>
            <div class="main_box_bodyR">
              <p>C 284656</p>
              <strong>Amount $500</strong>
            </div>
            <div class="main_box_bodyFull">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed minim veniam, quis consectetur adipiscing
                elit, sed minim eniam, quis..</p>
            </div>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;"><a href="#"></a><i class='fas fa-file-signature' id='sig'
                  style='    position: absolute;'></i>
              </span>
            </span>
          </div>
          <div class="main_box_foot">
            <a href="#" class="btn active">View</a>
            <a href="#" class="btn list">Resend</a>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Air Conditioning unit relocation</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <div class="main_box_bodyL">
              <p>Service Type
                <span>Repair/Service</span></p>
              <p><span>06-18-2015</span></p>
            </div>
            <div class="main_box_bodyR">
              <p>C 284656</p>
              <strong>Amount $500</strong>
            </div>
            <div class="main_box_bodyFull">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed minim veniam, quis consectetur adipiscing
                elit, sed minim eniam, quis..</p>
            </div>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;"><a href="#"></a><i class='fas fa-file-signature' id='sig'
                  style='    position: absolute;'></i>
              </span>
            </span>
          </div>
          <div class="main_box_foot">
            <a href="#" class="btn active">View</a>
            <a href="#" class="btn list">Resend</a>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Laptop Screen task and repair task</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <div class="main_box_bodyL">
              <p>Service Type
                <span>Repair/Service</span></p>
              <p><span>06-18-2015</span></p>
            </div>
            <div class="main_box_bodyR">
              <p>C 284656</p>
              <strong>Amount $300</strong>
            </div>
            <div class="main_box_bodyFull">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed minim veniam, quis consectetur adipiscing
                elit, sed minim eniam, quis..</p>
            </div>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;"><a href="#"></a><i class='fas fa-file-signature' id='sig'
                  style='    position: absolute;'></i>
              </span>
            </span>
          </div>
          <div class="main_box_foot">
            <a href="#" class="btn active">View</a>
            <a href="#" class="btn list">Resend</a>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Air Conditioning unit relocation</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <div class="main_box_bodyL">
              <p>Service Type
                <span>Repair/Service</span></p>
              <p><span>06-18-2015</span></p>
            </div>
            <div class="main_box_bodyR">
              <p>C 284656</p>
              <strong>Amount $1000</strong>
            </div>
            <div class="main_box_bodyFull">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed minim veniam, quis consectetur adipiscing
                elit, sed minim eniam, quis..</p>
            </div>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;"><a href="#"></a><i class='fas fa-file-signature' id='sig'
                  style='    position: absolute;'></i>
              </span>
            </span>
          </div>
          <div class="main_box_foot">
            <a href="#" class="btn active">View</a>
            <a href="#" class="btn list">Resend</a>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Laptop Screen task and repair task</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <div class="main_box_bodyL">
              <p>Service Type
                <span>Repair/Service</span></p>
              <p><span>06-18-2015</span></p>
            </div>
            <div class="main_box_bodyR">
              <p>C 284656</p>
              <strong>Amount $500</strong>
            </div>
            <div class="main_box_bodyFull">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed minim veniam, quis consectetur adipiscing
                elit, sed minim eniam, quis..</p>
            </div>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;"><a href="#"></a><i class='fas fa-file-signature' id='sig'
                  style='    position: absolute;'></i>
              </span>
            </span>
          </div>
          <div class="main_box_foot">
            <a href="#" class="btn active">View</a>
            <a href="#" class="btn list">Resend</a>
          </div>
        </div>
        <p class="btn_bottom"><a href="#">Load More</a></p>
      </div>
    </div>

  </div>
</div>