<div class="modal fade model_main model_main_cal show" style="display: block;" id="myModal">
   <div class="modal-dialog ">
      <div class="modal-content">

         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Add New Appointment</h4>
            <button type="button" class="close" (click)="onNoClick()" data-dismiss="modal"></button>
         </div>

         <!-- Modal body -->
         <div class="modal-body">
            <div class="payment_Sec_box">
               <form [formGroup]="appointmentForm">
                  <div class="row cal_main">
                     <!-- <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <input type="text" class="form-control" id="text1" placeholder="Consumer Name*">
                     </div> -->
                     <label *ngIf="show" style="color:green;font-size: 14px;padding: 10px;">Appoinment fixed Successfully!</label>
                     <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <input type="text" class="form-control" formControlName="meeting" id="text2" placeholder="Meeting Agenda *">
                        <span style="color: red;"
                        *ngIf="!appointmentForm.controls['meeting'].valid && ( appointmentForm.controls['meeting'].touched)">
                        Required.
                      </span>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                      <input type="date" class="form-control date" formControlName="startDate" id="datetimepicker1" placeholder="date">
                        <span style="color: red;"
                        *ngIf="!appointmentForm.controls['startDate'].valid && ( appointmentForm.controls['startDate'].touched)">
                        Required.
                      </span>
                     </div>
                     <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                      
                      <input type="time" class="form-control time" formControlName="startTime" id="datetimepicker2" placeholder="time">
                        <span style="color: red;"
                        *ngIf="!appointmentForm.controls['startTime'].valid && ( appointmentForm.controls['startTime'].touched)">
                        Required.
                      </span>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <input type="date" class="form-control date" formControlName="endDate" id="datetimepicker1" placeholder="date">
                        <span style="color: red;"
                        *ngIf="!appointmentForm.controls['endDate'].valid && ( appointmentForm.controls['endDate'].touched)">
                        Required.
                      </span>
                     </div>
                     <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <input type="time" class="form-control time" formControlName="endTime" id="datetimepicker2" placeholder="time">
                        <span style="color: red;"
                        *ngIf="!appointmentForm.controls['endTime'].valid && ( appointmentForm.controls['endTime'].touched)">
                        Required.
                      </span>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4">
                        <button type="submit" (click)="addAppointment()" class="btn btn-primary mr-2">Submit</button>
                        <button type="submit" (click)="cancel()" class="btn btn-primary blank add_btn">Cancel</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>