<div class="container-fluid massage_sec">
  <div class="container ">
     <div class="row top_search">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
           <p>All Notifications</p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
           <form class="form_top">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"></button>
           </form>
        </div>
     </div>
     <div class="row msg_list">
        <div class="msg_box">
           <a> Patric Nurela</a>
           <label> 08-01-2016</label>
        </div>
        <div class="msg_box">
           <a> Patric Nurela</a>
           <label> 08-01-2016</label>
        </div>
        <div class="msg_box">
           <a>Patric Nurela</a>
           <label> 08-01-2016</label>
        </div>
        <div class="msg_box">
           <a>Patric Nurela</a>
           <label> 08-01-2016</label>
        </div>
        <div class="msg_box">
           <a> Patric Nurela</a>
           <label> 08-01-2016</label>
        </div>
        <div class="msg_box">
           <a> Patric Nurela</a>
           <label> 08-01-2016</label>
        </div>
        <div class="msg_box">
           <a> Patric Nurela</a>
           <label> 08-01-2016</label>
        </div>
        <div class="msg_box">
           <a> Patric Nurela</a>
           <label> 08-01-2016</label>
        </div>
     </div>
     <nav aria-label="Page navigation example">
        <ul class="pagination">
           <!-- <li class="page-item"><a class="page-link pre" href="#"></a></li> -->
           <li class="page-item"><a class="page-link " href="#">1</a></li>
           <li class="page-item"><a class="page-link" href="#">2</a></li>
           <li class="page-item"><a class="page-link" href="#">3</a></li>
           <li class="page-item"><a class="page-link next" href="#"></a></li>
        </ul>
     </nav>
  </div>
</div>