<div class="container-fluid singup_main_sec">
  <div class="container setting_top">
    <h3>General Settings </h3>
  </div>
  <div class="container ">
    <div class="singup_box">
      <div class="profile_sec">
        <div class="row profile_top_sec">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="form_left">
              <label class="text-uppercase">First name</label>
              <label class="for_info text-uppercase">{{firstName}}</label>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form_left">
              <label class="text-uppercase">Last name</label>
              <label class="for_info text-uppercase">{{lastName}}</label>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form_left">
              <label class="text-uppercase">Email Address</label>
              <label class="for_info">{{email}}</label>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form_left">
              <label class="text-uppercase">Phone</label>
              <label class="for_info">614-555-1212</label>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form_left">
              <label class="text-uppercase">Address 1</label>
              <label class="for_info">123 Service Lane</label>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form_left">
              <label class="text-uppercase">Address 2</label>
              <label class="for_info text-uppercase">North facing</label>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form_left">
              <label class="text-uppercase">City</label>
              <label class="for_info">Columbus</label>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form_left">
              <label class="text-uppercase">State</label>
              <label class="for_info text-uppercase">Ohia</label>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form_left">
              <label class="text-uppercase">Zip Code</label>
              <label class="for_info">43240</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 account_btn">
          <a class="btn btn-primary" id="edit_Pro_btn" (click)='show()'>Edit Profile</a>
        </div>
      </div>
    </div>

  </div>
</div>