
.txt-area {
    width: 350px;
    text-align: center;
}

.container.setting_top h3 {
    text-align: center;
}
.container.setting_top {
    padding-bottom: 23px;
}
button.close {
    border: 1px solid black;
    border-radius: 34px;
    padding: 3px 6px;
    margin-top: 4px;
    font-size: 14px;
}
button.sub-btn {
    margin: 2%;
    background-color: #f45117;
    border-radius: 16px;
    width: 91px;
    border: none;
    color: white;
    padding: 6px;
}