<div class="container-fluid">
  <div class="container">
    <div class="grid_view" style="display: block;">
      <div class="row top_search">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p>50 projects</p>
        </div>
      </div>
      <div class="row main_boxes">
        <div class="main_box">
          <div class="main_box_head">
            <h2>Laminate Flooring Installation</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list half">
              <li>
                <p>Posted Date</p><span class="span_text">08-18-2016</span>
              </li>
              <li>
                <p>Desired Time of Work </p><span class="span_text">day</span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" data-toggle="modal" data-target="#myModal"></a><a href="#" data-toggle="modal"
                  data-target="#myModal_msg" class="msg1"></a><a href="#" data-toggle="modal" data-target="#myModal_cal"
                  class="cal"></a> </span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Home Painting 2 rooms</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list half">
              <li>
                <p>Posted Date</p><span class="span_text">08-18-2016</span>
              </li>
              <li>
                <p>Desired Time of Work </p><span class="span_text">day</span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" data-toggle="modal" data-target="#myModal"></a><a href="#" data-toggle="modal"
                  data-target="#myModal_msg" class="msg1"></a><a href="#" data-toggle="modal" data-target="#myModal_cal"
                  class="cal"></a></span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Patio extension</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list half">
              <li>
                <p>Posted Date</p><span class="span_text">08-18-2016</span>
              </li>
              <li>
                <p>Desired Time of Work </p><span class="span_text">day</span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" data-toggle="modal" data-target="#myModal"></a><a href="#" data-toggle="modal"
                  data-target="#myModal_msg" class="msg1"></a><a href="#" data-toggle="modal" data-target="#myModal_cal"
                  class="cal"></a> </span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Air Conditioning unit relocation</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list half">
              <li>
                <p>Posted Date</p><span class="span_text">08-18-2016</span>
              </li>
              <li>
                <p>Desired Time of Work </p><span class="span_text">day</span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" data-toggle="modal" data-target="#myModal"></a><a href="#" data-toggle="modal"
                  data-target="#myModal_msg" class="msg1"></a><a href="#" data-toggle="modal" data-target="#myModal_cal"
                  class="cal"></a></span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Computer motherboard repair task</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list half">
              <li>
                <p>Posted Date</p><span class="span_text">08-18-2016</span>
              </li>
              <li>
                <p>Desired Time of Work </p><span class="span_text">day</span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" data-toggle="modal" data-target="#myModal"></a><a href="#" data-toggle="modal"
                  data-target="#myModal_msg" class="msg1"></a><a href="#" data-toggle="modal" data-target="#myModal_cal"
                  class="cal"></a> </span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>iphone screen change and installing body</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list half">
              <li>
                <p>Posted Date</p><span class="span_text">08-18-2016</span>
              </li>
              <li>
                <p>Desired Time of Work </p><span class="span_text">day</span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" data-toggle="modal" data-target="#myModal"></a><a href="#" data-toggle="modal"
                  data-target="#myModal_msg" class="msg1"></a><a href="#" data-toggle="modal" data-target="#myModal_cal"
                  class="cal"></a></span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Air Conditioning unit relocation</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list half">
              <li>
                <p>Posted Date</p><span class="span_text">08-18-2016</span>
              </li>
              <li>
                <p>Desired Time of Work </p><span class="span_text">day</span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" data-toggle="modal" data-target="#myModal"></a><a href="#" data-toggle="modal"
                  data-target="#myModal_msg" class="msg1"></a><a href="#" data-toggle="modal" data-target="#myModal_cal"
                  class="cal"></a> </span>
            </span>
          </div>
        </div>
        <div class="main_box">
          <div class="main_box_head">
            <h2>Patio extension</h2>
            <label>Automobile/Speakers</label>
          </div>
          <div class="main_box_body">
            <ul class="complete_list half">
              <li>
                <p>Posted Date</p><span class="span_text">08-18-2016</span>
              </li>
              <li>
                <p>Desired Time of Work </p><span class="span_text">day</span>
              </li>
            </ul>
            <span class="action">
              <a href="javascript:void(0)" class="slide_icon"></a>
              <span class="slide_list" style="display: none;">
                <a href="#" data-toggle="modal" data-target="#myModal"></a><a href="#" data-toggle="modal"
                  data-target="#myModal_msg" class="msg1"></a><a href="#" data-toggle="modal" data-target="#myModal_cal"
                  class="cal"></a></span>
            </span>
          </div>
        </div>
        <p class="btn_bottom"><a href="javascript:void(0)">Load More</a></p>
      </div>
    </div>
  </div>
</div>